/*
Thunderbird Filelink add-on for BSCW

Copyright 2020 Marius Shekow, Fraunhofer FIT

This file is part of https://github.com/FraunhoferFIT/thunderbird-bscw-filelink/

thunderbird-bscw-filelink is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

thunderbird-bscw-filelink is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with thunderbird-bscw-filelink. If not, see <https://www.gnu.org/licenses/>.
 */

ul {
    list-style: none;
    padding: 0;
}

li:not(:last-child) {
    margin-bottom: 10px;
}

li {
    padding: 10px;
    background-color: #eae9e9;
    border: 1px solid #d5d5d5;
}

h1 {
    font-weight: 600;
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

h2 {
    font-weight: 600;
    font-size: 1.1em;
    margin: 0;
}

p {
    margin: 0.5em 0;
}

input {
    width: 100%;
    box-sizing: border-box;
}

input[type="radio"] {
    width: auto;
}